PyYaml
scipy
ml_collections
tqdm
pandas
optree
rdkit
biopython==1.85
modelcif==0.7
biotite==1.4.0
scikit-learn
scikit-learn-extra
deepspeed==0.17.5
protobuf>=6.31.1
icecream
ipdb
wandb
numpy==2.4.1
matplotlib==3.9.2
ipywidgets
py3Dmol
nvidia-cublas-cu12
torch==2.7.1
fair-esm
posix_ipc
einops
transformers==4.51.3
optax==0.2.5
dm-haiku==0.0.13
natsort
dm-tree
protenix==1.0.5
pxdbench>=0.1.0
